{% include 'header.twig' %}

  <section class="inner-banner">
            <div class="container">
                <ul class="thm-breadcrumb">
                    <li><a href="/">Ana Sayfa</a></li>
                    <li><span class="sep">.</span></li>
                    <li><span class="page-title">Kurumsal</span></li>
                </ul><!-- /.thm-breadcrumb -->
                <h2>Hakkımızda</h2>
            </div><!-- /.container -->
        </section><!-- /.inner-banner -->
        <section class="about-style-two">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="content-block">
                            <div class="block-title">
                                <div class="dot-line"></div><!-- /.dot-line -->
                                <p>Bizi Yakından Tanıyın</p>
                                <h2>Hakkımızda</h2>
                            </div><!-- /.block-title text-center -->
                            <p>Güçlü araç ekibimizle halkımıza anında hizmet vermek için sınırsız hizmet vermekteyiz. Günün her saatinde size sadece bir telefon kadar yakınız. Amacımız konforlu araçlarımız ve güler yüzlü deneyimli şöförlerimiz ile Denizli halkımıza kaliteli hizmet verebilmektir. Sizlerin memnuniyeti bizim önceliğimizdir. Sitemizin kuruluş amacı hızla yaygınlaşan internet çağında mobil uyumlu olan internet sitemizden bizi nerede olursanız olun çağırabilme kolaylığını sizlere sunmaktır.</p>
                            <a href="iletisim" class="about-btn">İletişime Geç</a>
                        </div><!-- /.content-block -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="hvr-float-shadow">
                            <div class="image-block">
                                <img src="images/resources/about-1-1.jpg" alt="Awesome Image" />
                                <div class="bubble-block">
                                    <div class="inner-block">
                                        <p>Kişinin Tercihi</p>
                                        <span class="counter">7880</span>
                                    </div><!-- /.inner-block -->
                                </div><!-- /.bubble-block -->
                            </div><!-- /.image-block -->
                        </div><!-- /.hvr-float-shadow -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.about-style-two -->

        <section class="feature-style-one thm-black-bg">
            <img src="images/background/feature-bg-1-1.png" alt="Awesome Image" class="feature-bg" />
            <div class="container">
                <div class="block-title text-center">
                    <div class="dot-line"></div><!-- /.dot-line -->
                    <p>Ayrıcalıklarımız</p>
                    <h2 class="light">Neden Biz?</h2>
                </div><!-- /.block-title text-center -->
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-feature-one">
                            <div class="icon-block">
                                <i class="fas fa-wallet"></i>
                            </div><!-- /.icon-block -->
                            <h3><a href="#">Adreste Açılan Taksimetre</a></h3>
                            <p>Tüm taksilerimizde taksimetre tarifesi adresinizde açılır.</p>
                            <a href="iletisim" class="more-link">İletişime Geç</a>
                        </div><!-- /.single-feature-one -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="single-feature-one">
                            <div class="icon-block">
                                <i class="fas fa-business-time"></i>
                            </div><!-- /.icon-block -->
                            <h3><a href="#">Zamana Saygı</a></h3>
                            <p>Ulaşmak istediğiniz varış noktasına zamamanında ve güvenle ulaşmanız için çalışıyoruz.</p>
                            <a href="iletisim" class="more-link">İletişime Geç</a>
                        </div><!-- /.single-feature-one -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="single-feature-one">
                            <div class="icon-block">
                                <i class="far fa-check-circle"></i>
                            </div><!-- /.icon-block -->
                            <h3><a href="#">Güvenli Seyahat</a></h3>
                            <p>Tecrübeli sürücülerimizle varış merkezine en kısa yoldan, tam vaktinde güvenle ulaşmanızı sağlıyoruz.</p>
                            <a href="iletisim" class="more-link">İletişime Geç</a>
                        </div><!-- /.single-feature-one -->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.feature-style-one -->
        <section class="cta-style-one text-center">
            <div class="container">
                <p>7 Gün 24 Saat Hizmetinizdeyiz!</p>
                <h3>Hemen arayın ve taksinizi çağırın!</h3>
                <a href="iletisim" class="cta-btn">İletişime Geç</a>
            </div><!-- /.container -->
        </section><!-- /.cta-style-one -->

{% include 'footer.twig' %}
